streamlit==1.49.1
pandas==2.3.2
numpy==2.2.6
matplotlib==3.10.6
seaborn==0.13.2
plotly==6.3.0
requests==2.32.5
beautifulsoup4==4.13.5
scapy==2.6.1
cryptography==45.0.7
python-nmap==0.7.1
pillow==11.3.0
qrcode==8.2
pycryptodome==3.23.0
paramiko==4.0.0
psutil==7.0.0
